body{
    background-color:blanchedalmond;
}

hr{
    color:aquamarine;
}

h3{
    text-shadow: 2px 2px;
}

h1{
    text-shadow: 3px 3px 10px red;
}

h6{
    text-shadow: 0px 50px;
}

h2{
    text-shadow: 3px 3px 10px red, -3px 3px 10px blue;
}

div{
    width:100px;
    height:100px;
    background-color:hsl(0, 2%, 72%);
    box-shadow: 3px 3px 10px;
}
/* for text-shadow ....px ...px horizontal and vertical shadow */
/* the third one ....px for bluring (blur) */
/* -3px in the forst one means to the left */
/* div can make a box like that */